/* Css For Add customer type emergency/vip/normal */

.filedset_form {
  max-width: auto;
  margin: 10px 40px 0 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #f9f9f9;
}

fieldset {
  border: none;
  width: 95%;
  margin:  0 0 0 23px;
  padding: 0;
}

legend {
  font-size: 1.5em;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
  color: #273c75;
  font-weight: bold;
  padding: 5px 0;
  border-radius: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.Color_type {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.customer_type_btn {
  width: 100%;
  padding: 10px;
  background-color: #ffbe76;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.customer_type_btn:hover {
  background-color: #f6e58d;
  color: #192a56;
  font-weight: bold;
}

.customer_type_table{
  width: 95%;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .Color_type {
    flex-direction: column;
  }

  .customer_type_btn {
    width: 100%;
  }
  
  .Color_type {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

@media (max-width:426px){
  .Color_type{
    flex-direction:column;
  }
}

/* Css End for Add Customer Type */

/*  Css For table  */
 
.btn_type{
  display: flex;
  gap: 10px;
}

.btn_type .customer_type_btn:nth-child(1){
  background-color: #FD7272;
}

.btn_type .customer_type_btn:nth-child(2){
  background-color: #EE5A24;
}
.btn_type .customer_type_btn:nth-child(2):hover{
  background-color: #EE5A24;
  color: whitesmoke;
}
.btn_type .customer_type_btn:nth-child(1):hover{
  background-color: #FD7272;
  color: whitesmoke;
}

/* Pop-up Css for Edit Customer type name*/

/* Customertype.css */
/* Default styles */
.modal_update {
  height: auto;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.07) 1px 7px 25px 1px, rgba(0, 0, 0, 0.09) 1px 1px 1px 2px;
}

.btn_edit {
  display: flex;
  gap: 10px;
}

.btn_edit .customer_edit:nth-child(1) {
  background-color: #EE5A24;
  color: whitesmoke;
}

.btn_edit .customer_edit:nth-child(1):hover {
  background-color: #EE5A24;
  color: whitesmoke;
  font-weight: bold;
}

.btn_edit .customer_edit:nth-child(2) {
  background-color: green;
  color: #ccc;
  font-weight: bold;
}

.btn_edit .customer_edit:nth-child(2):hover {
  background-color: green;
  color: #ccc;
  font-weight: bold;
}

.color_type{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Media queries for tablets and mobile devices */
@media (max-width: 768px) {

  .modal_update{
    width: 400px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .btn_edit {
    flex-direction: column;
  }
  
  .btn_edit .customer_edit {
    width: 100%;
    margin-bottom: 5px;
  }
}
