/* Styling for the fieldset container */
.filedset_form {
    width: 300px; /* Adjust width as needed */
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Styling for the fieldset and legend */
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  legend {
    font-size: 1.2em; /* Adjust font size */
    font-weight: bold;
    margin-bottom: 10px; /* Space between legend and form */
  }
  
   form {
    display: grid;
  } 
  
  label {
    margin-bottom: 8px;
  }
  
  input[type="text"], .customer_type_btn {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  } 
  
  .customer_type_btn {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .customer_type_btn:hover {
    background-color: #0056b3;
  }
  