.colorT {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-left: 39%;
    margin-top: -8%;
}

.colortype h6 {
    font-size: 14px;
}

.colortype p {
    width: 60px;
    align-items: center;
    height: 15px;
}

.var_live_queue {
    margin-top: 5%;
}


/* Media Query for Tablets (768px width) */
@media only screen and (max-width: 768px) {
    .colorT {
        flex-direction: row; 
        margin-top: 6%;
        margin-left: 0;
    }

    .colortype h6{
        font-size: 12px;
    }

    

}

/* Media Query for Mobile Phones (576px width) */
@media only screen and (max-width: 576px) {
    .colorT {
        gap: 20px; 
    }

    .colortype p {
        width: 40px;
        height: 10px;
    }

    .var_live_queue {
        margin-top: 10px;
    }
}

@media (max-width:325px){

    .colortype h6{
        font-size: 9px;
    }

}
